<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1087052790502-91698lmmaobviob4knalh4pirifb365l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1087052790502-91698lmmaobviob4knalh4pirifb365l</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1087052790502-l4ahj66gi1p0sakemk5pphp69rcnjbdn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBfOEbe8b8F8CbT4Qa_uCIDYERgXJDm_6Q</string>
	<key>GCM_SENDER_ID</key>
	<string>1087052790502</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tiktokClone</string>
	<key>PROJECT_ID</key>
	<string>tiktok-clone-jun</string>
	<key>STORAGE_BUCKET</key>
	<string>tiktok-clone-jun.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1087052790502:ios:ec198c2ab760f5c6649927</string>
</dict>
</plist>